:root {
    --color-primary-violet: hsl(257, 40%, 49%);
    --color-primary-soft-magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: content-box;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}